.social-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px;
  background: #e5e5e5;
}

.social-btn {
  width: 80px;
  height: 80px;
  background: #e5e5e5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 28px;
  color: #222;
  cursor: pointer;

  box-shadow: 
    8px 8px 15px #c1c1c1,
    -8px -8px 15px #ffffff;

  transition: all 0.3s ease;
}

.social-btn:hover {
  transform: scale(1.08);
  box-shadow: 
    inset 8px 8px 15px #c1c1c1,
    inset -8px -8px 15px #ffffff;
}